.property_description {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: var(--background-color);
}
.property_article-location {
    height: 600px;
    object-fit: contain;
    overflow: hidden;
   
  }
  .property_description_content {
   padding: 5rem 3rem 3rem;
   
  }
  
  .property_article {
    display: flex;
    flex-direction: row;
    width: 100%;
   
  }
  .property_article_content {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    width: 35%;
   text-align: left;
   
    padding:  5rem 4rem ;
    gap: 2rem;
    padding: 5rem 2rem;
  }

  .property_location-title,
.property_location-text{
  margin-left: 3rem;
}