*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'khula-regular';
  }
  :root {
    --primary-color: teal;
    --secondary-color: #FF9900;
    --underline-color: #c7def7;
    --layer-color: rgba(18, 23, 49, 0.886);
    --background-color: rgb(245, 245, 253);
    --footer-color: #1d2738;
   
  
  }
  @font-face {
    font-family: 'khula-bold';
    src: url('/fonts/Khula-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'khula-semibold';
    src: url('/fonts/Khula-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'khula-regular';
    src: url('../public/fonts/Khula-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'khula-light';
    src: url('/fonts/Khula-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'khula-extrabold';
    src: url('../public/fonts/Khula-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


  h1 {
    font-family: 'khula-bold';
  }