*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --primary-color: teal;
    --secondary-color: #FF9900;
    --underline-color: #c7def7;
    --layer-color: rgba(18, 23, 49, 0.886);
    --background-color: rgb(245, 245, 253);
    --footer-color: #1d2738;
   
  
  }